<div id="modal-historique" class="modal">
    <div class="modal-content">
        <span class="close close-historique">&times;</span>
        <h2>Historique des modifications</h2>
        <div id="historique-content"></div>
    </div>
</div>
