<section class="contact-container">
    <div class="contact-left">
        <img src="/assets/contact.png" alt="Contact Icon" class="contact-icon">
        <h2>Contactez-nous</h2>
        <p>Besoin d'aide ou avez-vous une question sur Activ ? Nous sommes là pour vous aider à optimiser votre gestion
            de tâches et améliorer la collaboration de votre équipe.</p>
        <p><strong>Contactez-nous dès maintenant !</strong> Notre équipe est disponible pour répondre à vos questions,
            recueillir vos suggestions et vous accompagner dans l'utilisation de notre plateforme.</p>

    </div>
    <div class="contact-right">
        <div class="contact-box">
            <h3><span class="contact-number">01</span> Contacts</h3>
            <p>Telephone: 1 (613) 000-891</p>
            <p>Email: info@activ.ca</p>
        </div>
        <div class="contact-box">
            <h3><span class="contact-number">02</span> Emplacement</h3>
            <p>801 Aviation Pkwy</p>
            <p>Ottawa, ON K1K 4W8, Canada</p>
        </div>
        <div class="contact-box">
            <h3><span class="contact-number">03</span> Pourquoi choisir Activ ?</h3>
            <p>Gestion simplifiée des tâches</p>
            <p>Suivi en temps réel des projets</p>
            <p>Collaboration efficace en équipe</p>

        </div>
    </div>
</section>