</head>

<body>
    <section class="accueil">
        <div class="texte">
            <h1>Bienvenue sur Activ</h1>
            <p>
                Conçue pour être accessible et efficace, Activ est l’outil idéal pour booster votre productivité et
                tester vos idées en quelques clics.
                Le seul outil dont vous avez besoin pour gérer votre travail, vos équipes et vos objectifs.
            </p>
            <a href="/tableau" class="bouton">Commencer</a>
        </div>
        <div class="image">
            <img src="/assets/acceuil.png" alt="Illustration">
        </div>
    </section>
</body>

</html>